<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Successfully - Integrated Ticketing System</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <section class="">
        <img class="bg-img" src="assets/images/bg.jpg" alt="bg-img">
        <div class="container">
            <div class="row min-vh-100 d-flex justify-content-center align-items-center">
                <div class="col-10 col-lg-6 text-white transparent">
                    <h2 class="text-center"><img src="assets/images/icons/booking_checked.png" style="width: 50px;" alt="confirmCheck"> Get On Board!!!<br>You'll receive your E-ticket via <%= email %>.</h2>
                </div>
            </div>
        </div>
    </section>
</body>

</html>